<div id="carte">
  <div id="img"></div>
  <div id="page">
    <div id="flex">
      <div id="titre">
        <h1>
          Découvrez le <br />
          monde !
        </h1>
        <p>
          Grâce aux nombreux projets des étudiants de Gustave Eiffel de Meaux !
        </p>
      </div>
      <div id="scene" #scene></div>
    </div>
    <div id="row">
      <img src="../../../assets/mingcute_arrow-up-line.svg" />
    </div>

    <div id="MyCarte">
      <p>Cliquez sur une épingle pour naviguer</p>
      <app-carte-interractif> </app-carte-interractif>
    </div>
    <footer>
      <p>
        Designé par &nbsp;<a
          href="https://www.linkedin.com/in/valentin-lamour-732488252/"
          target="_blank"
        >
          Valentin Lamour</a
        >
        &nbsp;et développé par &nbsp;<a
          href="https://www.linkedin.com/in/glenn-guillard-08204724a/"
          target="_blank"
          >Glenn Guillard</a
        >&nbsp;- © 2024 - Tous droits réservés.
      </p>
    </footer>
  </div>
</div>
