<div id="objet">
  <div id="container">
    <a id="lien" routerLink="">
      <p>
        <svg
          width="10"
          height="18"
          viewBox="0 0 10 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0.366472 9.88369C0.132133 9.64928 0.000488281 9.3314 0.000488281 8.99994C0.000488281 8.66848 0.132133 8.3506 0.366472 8.11619L7.43772 1.04494C7.55303 0.925553 7.69096 0.830325 7.84347 0.764814C7.99597 0.699302 8.16 0.66482 8.32597 0.663377C8.49194 0.661935 8.65654 0.693562 8.81016 0.756414C8.96378 0.819265 9.10335 0.912081 9.22072 1.02945C9.33808 1.14681 9.4309 1.28638 9.49375 1.44C9.5566 1.59362 9.58823 1.75822 9.58678 1.92419C9.58534 2.09017 9.55086 2.25419 9.48535 2.4067C9.41984 2.5592 9.32461 2.69713 9.20522 2.81244L3.01772 8.99994L9.20522 15.1874C9.43292 15.4232 9.55891 15.7389 9.55606 16.0667C9.55322 16.3944 9.42175 16.708 9.18999 16.9397C8.95823 17.1715 8.64472 17.3029 8.31697 17.3058C7.98923 17.3086 7.67347 17.1826 7.43772 16.9549L0.366472 9.88369Z"
            fill="white"
          />
        </svg>
      </p>
      <p>Retour</p>
    </a>
    <h1>Les Moai</h1>
  </div>
  <div id="container3D" class="sketchfab-embed-wrapper">
    <iframe
      title="Moai"
      frameborder="0"
      allowfullscreen
      mozallowfullscreen="true"
      webkitallowfullscreen="true"
      allow="autoplay; fullscreen; xr-spatial-tracking"
      xr-spatial-tracking
      execution-while-out-of-viewport
      execution-while-not-rendered
      web-share
      src="https://sketchfab.com/models/ed619518c7be4a7ab3a59781505813a3/embed?autostart=1&preload=1&ui_theme=dark"
    >
    </iframe>
  </div>
  <div id="content">
    <h2>Les gardiens silencieux d'un passé mystérieux</h2>
    <p id="auteur">Par Valentin Lamour et Thomas Henry</p>
    <p>
      Les Moaï de l'Île de Pâques, ces imposantes statues de pierre volcanique,
      demeurent des énigmes fascinantes de l'histoire humaine. Taillées entre le
      Xe et le XVIe siècle par les mains des ancêtres Rapa Nui.
    </p>
    <p>
      Ces statues, dont certaines s'élèvent à plus de 10 mètres de hauteur et
      pèsent jusqu'à 80 tonnes. Leur importance dépasse les limites temporelles
      et culturelles : les Moaï incarnent les ancêtres divinisés, créant ainsi
      un pont entre le monde matériel et le spirituel pour la communauté Rapa
      Nui.
    </p>
    <p>
      Face à leur taille impressionnante et à leur dispersion à travers l'île,
      des théories farfelues ont émergé, proposant des origines extraterrestres
      ou des capacités surnaturelles. Cependant, les recherches scientifiques
      récentes ont révélé des réponses plus plausibles : le transport des Moaï
      aurait été réalisé à l'aide de techniques ingénieuses telles que le
      roulage sur des rondins de bois, défiant ainsi les limites perçues de
      l'ingénierie antique.
    </p>
    <p>
      Malgré leur grandeur et leur mystère, l'histoire des Moaï est aussi
      teintée de tragédie. Le déclin des Rapa Nui, exacerbé par des facteurs
      climatiques et l'impact des Européens, témoigne des défis rencontrés par
      cette civilisation isolée du Pacifique. Pourtant, leur héritage artistique
      et culturel continue de captiver et d'inspirer, offrant un éclairage
      précieux sur la richesse et la complexité des peuples anciens.
    </p>
  </div>
</div>
