<div id="objet">
  <div id="container">
    <div id="back">
      <a id="lien" routerLink="">
        < Retour</a>
    </div>
    <h1>Les Moai</h1>
  </div>
  <div id="container3D" class="sketchfab-embed-wrapper"> <iframe title="Moai" frameborder="0" allowfullscreen
      mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking"
      xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
      src="https://sketchfab.com/models/ed619518c7be4a7ab3a59781505813a3/embed?autostart=1&preload=1&ui_theme=dark">
    </iframe>
  </div>
  <div id="content">
    <h2>Les gardiens silencieux d'un passé mystérieux</h2>
    <p id="auteur">Par Valentin Lamour et Thomas Henry</p>
    <p>
      Les Moaï de l'Île de Pâques, ces imposantes statues de pierre volcanique, demeurent des énigmes fascinantes de
      l'histoire humaine. Taillées entre le Xe et le XVIe siècle par les mains des ancêtres Rapa Nui.
    </p>
    <p>
      Ces statues, dont certaines s'élèvent à plus de 10 mètres de hauteur et pèsent jusqu'à 80 tonnes. Leur importance
      dépasse les limites temporelles et culturelles : les Moaï incarnent les ancêtres divinisés, créant ainsi un pont
      entre le monde matériel et le spirituel pour la communauté Rapa Nui.
    </p>
    <p>
      Face à leur taille impressionnante et à leur dispersion à travers l'île, des théories farfelues ont émergé,
      proposant des origines extraterrestres ou des capacités surnaturelles. Cependant, les recherches scientifiques
      récentes ont révélé des réponses plus plausibles : le transport des Moaï aurait été réalisé à l'aide de techniques
      ingénieuses telles que le roulage sur des rondins de bois, défiant ainsi les limites perçues de l'ingénierie
      antique.
    </p>
    <p>Malgré leur grandeur et leur mystère, l'histoire des Moaï est aussi teintée de tragédie. Le déclin des Rapa Nui,
      exacerbé par des facteurs climatiques et l'impact des Européens, témoigne des défis rencontrés par cette
      civilisation isolée du Pacifique. Pourtant, leur héritage artistique et culturel continue de captiver et
      d'inspirer, offrant un éclairage précieux sur la richesse et la complexité des peuples anciens.</p>
  </div>
</div>