<div id="objet">
  <a [routerLink]="['/']">← Retour</a>
  <h1>
    À la découverte d'un Scarabée Commémoratif : Amenhotep III et son Mariage
    avec Tiyi en Égypte antique.
  </h1>
  <div id="flex">
    <div id="scene" #scene></div>
    <p>
      Pendant son règne entre -1390 et -1352, Amenhotep III, pharaon d'Égypte
      antique, fit sculpter d'innombrables amulettes sous la forme de scarabée.
      En effet, il a commandé la création de cinq séries de scarabées pour
      commémorer divers hauts faits de son règne royal (mariages, creusement
      d'un lac de plaisance artificiel, exploits cynégétiques). Ces scarabées
      ont été découverts dans plusieurs sites archéologiques du Proche-Orient,
      de la Syrie au Soudan.
      <br />
      <br />
      Cet objet est façonné dans de la stéatite, pierre tendre aux nuances
      grises. Leur longueur varie entre 4,7 et 11 cm, tandis que leur largeur
      oscille entre 7 et 8,9 cm. Des inscriptions sont sculptées sur le socle du
      scarabée. Ces inscriptions sont généralement succinctes, comportant
      souvent un nom ou une formule religieuse. <br />
      <br />Les scarabées dits de mariage ne font pas référence au mariage
      lui-même ni à une date spécifique. Ils enregistrent le nom de la Grande
      épouse royale d'Amenhotep, Tiyi précédant celui de son mari, ainsi que le
      nom de ses parents, mettant en évidence sa naissance non royale. Son père,
      Youya, sa mère, Touya sont mentionnés. L'importance de Tiyi est démontrée
      par la définition des frontières de l'empire en fonction d'elle.
      <br />
      <br />
      <br />
      <b id="BY"
        >Projet de : Jérôme Fabre, Morgane Le normand et Glenn Guillard</b
      >
    </p>
  </div>
</div>
