<div id="objet">
  <a [routerLink]="['/']">← Retour</a>
  <h1>
    À la découverte d'un Scarabée Commémoratif : Amenhotep III et son Mariage
    avec Tiyi en Égypte Antique.
  </h1>
  <div id="flex">
    <div id="scene" #scene></div>
    <p>
      Des centaines de scarabées dits commémoratifs ont été émis pour commémorer
      les actes du pharaon. Ces scarabées ont été retrouvés dans plusieurs sites
      archéologiques du Proche-Orient, de la Syrie au Soudan. D’innombrables
      amulettes furent sculptées sous la forme de ce coléoptère, au cours de son
      long règne, Amenhotep III fit émettre cinq séries de scarabées destinés à
      commémorer certains hauts faits de son action royale (mariages, creusement
      d'un lac de plaisance artificiel, exploits cynégétiques). Ils apparaissent
      dès la première année du règne. Ils portent sur leur base plate des textes
      de longueur variable retraçant des événements particuliers, succédant à la
      titulature complète du roi, suivie des noms de son épouse Tiyi et, parfois
      de ceux de ses parents. Le dessous de ces objets, souvent de petites
      dimensions, pouvait recevoir une courte inscription, un nom, une formule
      religieuse, etc. Le scarabée égyptien est un véritable emblème du pouvoir
      royal, il représente le dieu du soleil Khepri. Le scarabée est un symbole
      puissant, celui de la renaissance quotidienne du Soleil. Employé comme
      hiéroglyphe, le scarabée représente le verbe apparaître, devenir, ou se
      transformer. Cet objet remarquable est façonné dans de la stéatite, pierre
      tendre aux nuances grises ; il conserve en grande partie sa glaçure
      bleutée d’origine. La longueur de l'inscription sur ces scarabées est de
      neuf-dix lignes, la longueur moyenne des scarabées est de 8,5 cm. Le
      scarabées dits de mariage ne font en fait pas référence au mariage
      lui-même, et ne mentionnent pas non plus de date de mariage. Ils
      enregistrent le nom de la Grande épouse royale d'Amenhotep, Tiyi (à la
      suite de celui de son mari), ainsi que le nom de ses parents, comme pour
      expliciter sa naissance non royale : le nom de son père est Youya, le nom
      de sa mère est Touya ; elle est mariée au grand roi dont la frontière sud
      est à Karoy et la frontière nord à Naharin. L'importance de Tiyi est
      démontrée par la définition des frontières de l'empire en fonction d'elle.
      <br />
      <br />
      <br />
      <b id="BY"
        >Projet de : Jérôme Fabre, Morgane Le normand et Glenn Guillard</b
      >
    </p>
  </div>
</div>
