@font-face {
  font-family: BagosseNormal;
  src: url("../../../assets/fonts/bagoss-standard/BagossStandardTRIAL-Regular.ttf");
}
@font-face {
  font-family: PoppinsRegular;
  src: url("../../../assets/fonts/Poppins/Poppins-Regular.ttf");
}

#scene {
  width: 30vw;
  height: 60vh;
}

#objet {
  color: #f4eded;
  padding-top: 50px;
  height: calc(100vh - 50px);
  background-color: #0077be;
}

#objet h1 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  font-size: 45px;
  font-family: BagosseNormal;
}

#objet p {
  width: 45%;
  text-align: justify;
  margin-top: 80px;
  font-size: 17px;
  font-family: PoppinsRegular;
}

#objet p:last-child {
  margin-bottom: 0;
  padding-bottom: 20px;
}

#objet a {
  margin-left: 25px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 25px;
  padding: 5px;
  font-family: BagosseNormal;
  transition: all 0.5s ease;
}

#objet a:hover {
  background-color: #f4eded;
  border: transparent 2px solid;
  color: #0077be;
}
#flex {
  display: flex;
  justify-content: center;
  margin-left: auto;
  gap: 150px;
  margin-right: auto;
}

#BY {
  margin-top: 25px;
}
