<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le koto</title>
</head>
<body> 
    <a href="../"><img src="../../../assets/fleche.png" alt=""></a>
    <h1>Le koto</h1>
    <div id="scene" #scene></div>
    <h1>Le koto : Un héritage musical ancré dans la culture japonaise</h1>
    <p>
        Les kotos, désignaient anciennement un groupe d'instruments à cordes importé depuis la Chine et la Corée vers le Japon au VII siècle. Le koto désigne aujourd’hui un seul et unique instrument. En effet, lors de la période Edo (1603-1868), le “so no koto” s’impose comme instrument de la cour (gagaku), et se fait alors appeler le koto.
	    <br><br>Le koto est un instrument à cordes pincé, souvent assimilé à la harpe dû aux sons mélodieux qu’elle produit, expliquant ainsi son pseudonyme de harpe japonaise.  Traditionnellement fabriqué en bois de paulownia évidé, il est aujourd’hui généralement composé de plastique. Il mesure généralement 1m83 et possède 13 cordes, bien que certains modèles comportent parfois plus de cordes.
        <br><br>Le koto fait partie intégrante de la culture japonaise, par-delà son histoire et ses racines culturelles. En effet, il est souvent utilisé dans les musiques et les arts japonais traditionnels, tels que le kabuki et le bunraku.
        <br><br>Le koto a su conserver sa popularité au fil des siècles et bénéficie aujourd’hui d'une certaine reconnaissance mondiale, malgré ses origines très traditionnelles.
    </p>
</body>
</html>




